<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyshdev.applicationakami">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationAkami">
        <activity
            android:name=".EnviarAyuda"
            android:exported="false" />
        <activity
            android:name="HacerVenta.VerVentas"
            android:exported="false" />
        <activity
            android:name="HacerVenta.Carrito_Venta"
            android:exported="false" />
        <activity
            android:name="HacerVenta.Menu_Productos_Carrito"
            android:exported="false" />
        <activity
            android:name="Inventario.Editar_Producto"
            android:exported="false" />
        <activity
            android:name="Inventario.Inventario_Normal"
            android:exported="false" />
        <activity
            android:name="Inventario.Inventario_Admin"
            android:exported="false" />
        <activity
            android:name="Dashboard.Dashboard_Normal"
            android:exported="false" />
        <activity
            android:name="Dashboard.Dashboard_Admin"
            android:exported="false" />
        <activity
            android:name="login.CrearCuenta"
            android:exported="false" />
        <activity
            android:name="login.IniciarSesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>